 body {
    background-color: rgb(194, 173, 173);
    font-family: 'Honk', "Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
}

.play {
    width: 70%;
    height: fit-content;
    margin: 20%;
}

#board {
width: fit-content;
height: fit-content;
background: url("../images/triangles.png") no-repeat center center/cover;
background-size: cover; 
padding: 20px; 
display: inline-block;
}

 
.button-container button {
    /* Använd margin eller padding för att skapa utrymme mellan knapparna */
    margin-bottom: 10px; /* Utrymme under varje knapp */
  }
button {
    font-family: 'Honk', "Raleway", sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: black;
    height: 10%;
    width: 25%;
    margin: 30%;;
}

#message {
    margin: 40% 50% 0 50%;
}

#dice {
    height: 80px;
    width: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 10% 40% 10% 40%;
    transition: transform 0.5s ease;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-family:sans-serif;
  }

  /* animation to the dice for rotation */
@keyframes roll {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(360deg); }
    100% { transform: rotateY(0deg); }
  }
  
  .dotted-number {
    font-size: 24px;
  }

  #roll {
    width: 5%; /* Justera storleken på prickarna efter behov */
    height: 5%; /* Justera storleken på prickarna efter behov */
    background-color: black; /* Ange önskad färg för prickarna */
    border-radius: 50%; /* Gör prickarna runda */
  }

/* Heading logo */
header {
    text-align: left;
    font-size: 1rem;
    margin-top: 0%;
}

/*  Game layout */
#gamearea {
    width: 75%;
    margin: auto;
    text-align: center;
   
   }

.control {
      display: inline-block;
      margin: 0 auto;
      }
 
     .row1 {
        top:0%;
    }
    .row2 {
        top:50%;
    }
    .column1 {
        left: 0%;
    }
    .column2 {
        left: 25%;
    }
    .column3 {
        left: 50%;
    }
 
  .merged {
    animation: mergeAnimation 0.5s; 
}
 

@keyframes mergeAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
 


