.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}


 body {
    background-color:#385e5f;
    font-family: 'nabla', "Raleway", sans-serif;
    font-size: 1.5rem;
    text-align: center;
 }

/* Heading logo */
header {
   
    font-size: 1.5rem;
    margin-top: 0%;
     }

     /* container for pictures of euro*/
     .image-container {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 20px; 
        margin:0%
          }
      
      .image {
        width: 10rem;
        height: auto;
        margin-right: auto;
      }

     /* hide img after players choice*/
      .image.hidden {
        display: none; 
      }

a{
    font-size: 1em;
}

h1{
    font-size: 1em;
    text-align: center;
    background-color:cadetblue;
    padding-block: 5%;
    width: 100%;
    height:auto;
    ;
}

h2 {
    font-size: 1.5rem;
}

.rules {
    font-size: 1.5rem;
    font-style: oblique;
}

/* copyright log*/
footer {
    margin-top: 35%;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: aliceblue;
    }

/* button for play*/
.play {
    width: 70%;
    height: fit-content;
    margin: 10%;
}

/* players board with numberchoice*/
#board {
width: -webkit-fill-available;
height: fit-content;
background: url(../image/background.png) ;
background-size: 100%;
padding: 20px; 
display: inline-block;
border-radius: 10%;
}

  /* buttons placement in #board*/
.button-container button {

    margin-bottom: 10px; /* space between buttons  */
  }

button {
    font-family: 'Honk', "Raleway", sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: black;
    height: 10%;
    width: 25%;
    margin: 20%;
}

button:hover {
    cursor: pointer;
}

/* click to roll dice button*/
#message {
    margin: 10%;
    border: 0.5rem solid; 
    border-color: rgb(255, 247, 0);

}
#message:hover {
    cursor: pointer;
}


#dice-container {
    margin-top: 20px;
}

.dice {
    height: 80px;
    width: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0 40%;
    transition: transform 0.5s ease;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-family:sans-serif;
    position: absolute;
   }

@keyframes roll {
  50% {
      transform: rotateX(455deg) rotateY(455deg);
  }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #dddbd8, #fff
    );
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}

.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}

.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
    0 40px,
    40px 40px;
}

.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}
  
  /*dots on dice*/
  .dice-dot {
    --top: 0%;
    --left: 0%;

    width: 10%; 
    height: 10%;
    background-color: black; 
    border-radius: 50%; /* style them to dot */
    position: absolute;
    top: var(--top);
    left:var(--left);
 
  }
  
/*  Game layout */
#gamearea {
    width: 75%;
    margin: auto;
    text-align: center;
   
   }
   
/* board with players choice of number*/
.control {
      display: inline-block;
      margin: 0 auto;
      }
      .row1 {
        top:0%;
    }
    .row2 {
        top:50%;
    }
    .column1 {
        left: 0%;
    }
    .column2 {
        left: 25%;
    }
    .column3 {
        left: 50%;
    }
 
    /* message of win or lose*/
#result {
   
    margin-top: 25%;
    margin-right: 12%;
    width: auto;
    height: auto;
    display: inline-grid
    
}
video {
    max-width: 64rem;
    width: 70%;
    max-height:30.875rem;
    height: 80%;
    margin: 1.50rem auto;
    padding: 1.051%;  
}

@media screen and (max-width: 768px) {
 
    body {
        background-color: aquamarine;
        font-family:"Bungee Spice";
       }

       h1 {
        background-color: rgb(81, 155, 155);
       }

    .play{
        margin: 10%;
        background-color:rgb(81, 155, 155);
     
    }

.rules {
    font-size: 1rem;
      font-style: normal;
}
}

@media screen and (min-width: 804px)  {
  
h2 {
    font-size: 2rem;
}
.rules {
    font-size: 2rem;
    font-style: oblique;
}

.dice {
    height: 120px;
    width: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0 40%;
    transition: transform 0.5s ease;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-family:sans-serif;
    position: absolute;
  }

  #result {
margin-top: 20%;
}

/* button for play*/
.play {
    width: 70%;
    height: fit-content;
     border-radius: 10%;
}

}
