 
body {
    background-color: rgb(194, 173, 173);
    font-family: 'Honk', "Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
}

#board {
width: fit-content;
height: fit-content;
background: url("../images/triangles.png") no-repeat center center/cover;
background-size: cover; 
padding: 20px; 
display: inline-block;
}

.button-container {
       margin: 10px; /* Utrymme runt hela .button-container */
  }

button {
    font-family: 'Honk', "Raleway", sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: black;
    height: 10%;
    width: 25%;
    margin: 30%;;
}

.dice {
    height: 10%;
    width: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 75% 10% 10% 50%;
  }
/* Heading logo */
header {
    text-align: left;
    font-size: 1rem;
    margin-top: 0%;
}

/*  Game layout */
#gamearea {
    width: 75%;
    margin: auto;
    text-align: center;
   
   }

.control {
      display: inline-block;
      margin: 0 auto;
      }
 
     .row1 {
        top:0%;
    }
    .row2 {
        top:50%;
    }
    .column1 {
        left: 0%;
    }
    .column2 {
        left: 25%;
    }
    .column3 {
        left: 50%;
    }
 
  .merged {
    animation: mergeAnimation 0.5s; 
}
 

@keyframes mergeAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
 


